// Basic container
.container {
    margin-left: auto;
    margin-right: auto;
  
    @media screen and (max-width: 767px) {
      min-width: 320px;
      max-width: 480px;
    }
  
    @media screen and (min-width: 768px) {
      max-width: 768px;
    }
    @media screen and (min-width: 1280px) {
      max-width: 1280px;
    }
  }