.about {
  padding-bottom: 50px;
  margin-top: -368px;
  @media screen and (min-width: 768px) {
    margin-top: -153px;
  }
}

.about__container {
  padding-left: 20px;
  padding-right: 20px;

  @media screen and (min-width: 768px) {
    padding-left: 40px;
    padding-right: 40px;
    margin-top: 0;
  }
}

.about__title {
  margin-bottom: 20px;
  font-weight: 800;
  font-size: 20px;
  line-height: 1.3;
  letter-spacing: 0.03em;
  color: $black;

  @media screen and (min-width: 768px) {
    margin-bottom: 30px;
    font-size: 26px;
    line-height: 1.307;
  }

  @media screen and (min-width: 1280px) {
    margin-bottom: 50px;
    font-size: 46px;
    line-height: 1.304;
  }
}

.about__wrap {
  @media screen and (min-width: 768px) {
    display: flex;
  }
}

.about__image {
  display: flex;
  flex-wrap: wrap;

  @media screen and (min-width: 768px) {
    display: block;
  }

  @media screen and (min-width: 1280px) {
    width: unset;
  }
}

.about__description {
  @media screen and (min-width: 768px) {
    max-width: 402px;
    margin-left: 40px;
  }

  @media screen and (min-width: 1280px) {
    margin-left: 31px;
    margin-right: 0px;
  }
}

.about__name {
  font-weight: 800;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.08em;
  margin-top: 20px;

  color: $black;
  padding-bottom: 10px;
  border-bottom: 1px solid $light-grey;

  @media screen and (min-width: 768px) {
    margin-top: 0px;
  }

  @media screen and (min-width: 1280px) {
    width: 640px;
    font-size: 30px;
    line-height: 1.233;
    padding-bottom: 15px;
  }
}

.about__thumb {
  padding-bottom: 14px;
  border-bottom: 1px solid $accent;

  @media screen and (min-width: 768px) {
    padding-bottom: 20px;
  }

  @media screen and (min-width: 1280px) {
    width: 640px;
    padding-bottom: 30px;
  }
}

.about__list {
  flex-wrap: wrap;
  margin-top: 20px;
  font-weight: 600;
  font-size: 14px;
  line-height: 1.214;
  letter-spacing: 0.06em;
  color: $black;

  @media screen and (min-width: 1280px) {
    width: 530px;
    font-size: 16px;
    line-height: 1.25;
    margin-top: 30px;
  }
}

.about__list-item {
  display: flex;
  align-items: flex-start;
}

.about__list-item + .about__list-item {
  margin-top: 35px;
}

.about__icon--wrap {
  display: inline;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.about__icon {
  justify-content: center;
  align-items: center;
  width: 17px;
  height: 14px;
  margin-right: 9px;

  @media screen and (min-width: 768px) {
  }

  @media screen and (min-width: 1280px) {
    margin-right: 35px;
    width: 25px;
    height: 20px;
  }
}

.about__progress {
  font-weight: 500;
  font-size: 12px;
  line-height: 1.666;
  margin-top: 14px;
  justify-content: center;
  align-items: center;
  color: $light-grey;

  @media screen and (min-width: 768px) {
    display: block;
    width: 401px;
    height: 229px;
    margin-top: 20px;
  }

  @media screen and (min-width: 1280px) {
    width: 641px;
    height: 310px;
    font-size: 18px;
    line-height: 1.555;
    margin-top: 32px;
  }
}

.about__item + .about__item {
  margin-top: 15px;
}

.about__link {
  display: block;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.666;
  margin-top: 15px;
  text-decoration-line: underline;
  color: $accent;

  @media screen and (min-width: 768px) {
    margin-top: 10px;
  }

  @media screen and (min-width: 1280px) {
    display: block;
    margin-top: 20px;
    font-size: 18px;
    line-height: 1.555;
  }
}
