.benefits__title {
    font-family: Montserrat;
font-style: normal;
font-weight: 800;
font-size: 26px;
line-height: 1.3;
text-align: center;
letter-spacing: 0.03em;
}

.benefits__list {
   padding: 20px 14px;
    list-style-type: none;
    counter-reset: section; 
    background: #FFFFFF;
box-shadow: -5px 8px 26px rgba(0, 0, 0, 0.04);
}
.benefits__text {
    font-family: Montserrat;
font-style: normal;
font-weight: bold;
font-size: 14px;
line-height: 1.43;

// display: flex;
// align-items: center;
letter-spacing: 0.08em;

color: #111518;
&::before {
    counter-increment: section;
    content: "— " counter(section, decimal-leading-zero) " ";
    display: flex;
    color: rgba(255, 107, 9, 1);
}
}