.benefits {
  position: relative;
top: -1px;
padding-bottom: 39px;

  background: linear-gradient(
      to bottom
     black 0%,
  black 63%,
  white 63%,
  white 100%
);
@media (min-width: 768px) {
  padding-bottom: 100px;
  background: linear-gradient(
    to bottom,
    black 0%,
    black 40%,
    white 38%,
    white 100%
  );
}
@media screen and (min-width: 1280px) {
  
  background: linear-gradient(
      to bottom,
      black 0%,
      black 40%,
      white 40%,
      white 100%
    );
}
}
.benefits__container {
    padding-right: 20px;
    padding-left: 20px;

  @media screen and (min-width: 768px) {
    padding-right: 40px;
    padding-left: 40px;
}
}
.benefits__title {
  width: 60%;
  margin-bottom: 30px;
  font-family: Montserrat;
font-weight: 800;
font-size: 20px;
line-height: 1.36;
letter-spacing: 0.03em;
background-color: black;
color: #FFFFFF;

@media screen and (min-width: 768px) {
  width: 100%;
  font-size: 26px;
  text-align: center;
}

@media screen and (min-width: 1280px) {
  position: absolute;
  width: 1px; 
  height: 1px; 
  margin: -1px; 
  border: 0; 
  padding: 0; 
  white-space: nowrap; 
  clip-path: inset(100%); 
  clip: rect(0 0 0 0); 
  overflow: hidden;
}

}

.benefits-list__container{
  height: 640px;
  padding: 20px 30px;
  background: #FFFFFF;
  box-shadow: -5px 8px 26px rgba(0, 0, 0, 0.04);

  @media (min-width: 768px) {
    height: 395px;
    padding: 0 96px;
  }
  @media screen and (min-width: 1280px) {
    height: 340px;
    padding: 30px 80px;
  }
}
.benefits__list {
  list-style-type: none;
  counter-reset: section; 
  margin: 0;

@media (min-width: 768px) {
  display: flex;
          flex-wrap: wrap;
          margin-top: -30px;
          margin-left: -30px;
}
@media screen and (min-width: 1280px) {
  margin-top: -32px;
  margin-left: -40px;
}
}
.benefits__text {
font-weight: 700;
font-size: 14px;
line-height: 1.43;
letter-spacing: 0.08em;

color: #111518;


&::before {
  display: flex;
  flex-direction: column;
  font-weight: bold;
  font-size: 14px;
  line-height: 1.64;

  counter-increment: section;
  content: "— " counter(section, decimal-leading-zero) " ";
  
  color: rgba(255, 107, 9, 1);
}
}

@media screen and (max-width: 767px) {
.benefits__text:not(:last-child) {
  margin-bottom: 20px;
}
}
@media screen and (min-width: 768px) {
  .benefits__text:not(:last-child) {
    margin-bottom: 5px;
  }
}
@media screen and (min-width: 768px) {
  .benefits__text {
    flex-basis: calc((100% - 60px) / 2 );
    margin-top: 30px;
    margin-left: 30px;
  } 
}

  @media screen and (min-width: 1280px) {
    .benefits__text {
  flex-basis: calc((100% - 90px) / 3 );
    }
}


@media screen and (max-width: 1279px) {
  .benefits__text:nth-last-child(-n + 5) {
  height: 69px;
  }
}

@media screen and (min-width: 1280px) {
  .benefits__text:not(:last-child) {
    margin-bottom: 10px;
  }
}

