.benefits {
  position: relative;
  top: -407px;
  // padding-bottom: 39px;
  background: transparent;

  @media (min-width: 768px) {
    top: -203px;
  }
  @media screen and (min-width: 1280px) {
    top: -199px;
  }
}
.benefits__container {
  padding-right: 20px;
  padding-left: 20px;

  @media screen and (min-width: 768px) {
    padding-right: 40px;
    padding-left: 40px;
  }
}
.benefits__title {
  width: 55%;
  margin-bottom: 30px;
  font-weight: 800;
  font-size: 20px;
  line-height: 1.36;
  letter-spacing: 0.03em;
  // background-color: $black;
  color: $white;

  @media screen and (min-width: 768px) {
    width: 100%;
    font-size: 26px;
    text-align: center;
  }

  @media screen and (min-width: 1280px) {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
  }
}

.benefits-list__container {
  // height: 640px;
  min-width: 260px;
  margin-left: auto;
  margin-right: auto;
  padding: 20px 30px;
  background: $white;
  box-shadow: -5px 8px 26px rgba(0, 0, 0, 0.04);

  @media (min-width: 768px) {
    min-width: 688px;
    height: 395px;
    padding: 30px 96px;
  }
  @media screen and (min-width: 1280px) {
    // min-width: 1234px;
    // max-width: 1314px;
    height: 398px;
    padding: 40px 80px;
  }
}
.benefits__list {
  width: 220px;
  list-style-type: none;
  counter-reset: section;
  margin: 0;
  margin-left: auto;
  margin-right: auto;

  @media (min-width: 768px) {
    width: 496px;
    display: flex;
    flex-wrap: wrap;
    margin-top: -30px;
    margin-left: -30px;
  }
  @media screen and (min-width: 1280px) {
    width: 1058px;
    margin-top: 1px;
    margin-left: 1px;
  }
}
.benefits__text {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.42;
  letter-spacing: 0.08em;

  color: $black;

  &::before {
    display: flex;
    flex-direction: column;
    font-weight: bold;
    font-size: 14px;
    line-height: 1.64;

    counter-increment: section;
    content: '— ' counter(section, decimal-leading-zero) ' ';

    color: $accent;
  }
}

@media screen and (max-width: 767px) {
  .benefits__text:not(:last-child) {
    margin-bottom: 20px;
  }
}
@media screen and (min-width: 768px) {
  .benefits__text:not(:last-child) {
    margin-bottom: 5px;
  }
}
@media screen and (min-width: 768px) {
  .benefits__text {
    flex-basis: calc((100% - 60px) / 2);
    margin-top: 30px;
    margin-left: 30px;
  }
}

@media screen and (min-width: 1280px) {
  .benefits__text {
    font-size: 20px;
    flex-basis: calc((100% - 90px) / 3);
    margin-left: 0;
  }
}

// @media screen and (max-width: 1279px) {
//   .benefits__text:nth-last-child(-n + 5) {
//   height: 69px;
//   }
// }

@media screen and (min-width: 1280px) {
  .benefits__text:not(:last-child) {
    margin-bottom: 10px;
  }
}
