.header__container {
  min-width: 320px;
  padding: 30px 0px 50px 20px;
  margin-left: auto;
  margin-right: auto;
}

.header__nav-logo {
  font-size: 15px;
  font-weight: 700;
  line-height: 1.219;
  letter-spacing: 0.04em;

  width: 80px;
}

.header_nav-logo-link {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
}

.header__nav-logo-icon::before {
  content: ' ';
  display: inline-block;

  width: 15px;
  height: 20px;

  margin-left: 4px;
  margin-right: 4px;

  background-image: url(../images/svg/fire.svg);
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}

.header__nav-logo-sub {
  font-size: 5px;
  font-weight: 700;
  letter-spacing: 0.18em;
  line-height: 1.219;
  text-transform: uppercase;
  &--accent {
    color: $accent;
  }
}

.header__nav-item {
  display: none;
}

.header__nav-btn {
  display: none;
  width: 260px;
  height: 48px;

  font-weight: 700;
  font-size: 12px;
  line-height: 1.219;
  letter-spacing: 0.08em;

  text-transform: uppercase;
  align-items: center;
  justify-content: center;

  background-color: #fff;
  color: $accent;
  border: 2px solid $accent;
}

@media screen and (min-width: 768px) {
  .header__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 40px;
  }
  .header__nav-logo {
    font-size: 26px;
    font-weight: 800;

    width: 132px;
  }
  .header__nav-logo-icon::before {
    width: 22px;
    height: 30px;
  }
  .header__nav-logo-sub {
    font-size: 8px;
  }
  .header__nav-btn {
    display: flex;
    margin-right: 101px;
  }
}

@media screen and (min-width: 1280px) {
  .header__container {
    width: 1280px;
    padding: 30px 0px 45px 0px;
  }
  .header__nav-item {
    display: flex;
    margin-left: 40px;

    font-weight: 700;
    font-size: 14px;
    line-height: 1.219;

    text-transform: uppercase;

    color: $light-grey;
  }
  .header__nav-item:hover,
  .header__nav-item:focus {
    color: $accent;
  }
  .header__nav-item--first {
    margin-left: 144px;
  }
  .header__nav-btn {
    width: 336px;
    height: 70px;
    margin-right: 0px;

    font-size: 14px;
    letter-spacing: 0.14em;
  }
  .header__nav-list {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
  }
}
