.hero {
  margin: 0 auto;
  max-width: 768px;
  // height: 618px;
  height: 565px;
  background-size: cover;
  background-repeat: no-repeat;
  background-color: $white;
  // box-shadow: -5px 21px 26px rgba(0, 0, 0, 0.04);

  background-image: url('../images/hero/hero-des/Vector-des.png');

  @media (min-device-pixel-ratio: 2),
    (-webkit-min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    background-image: url('../images/hero/hero-des/Vector-des@2x.png');
  }

  @media (min-width: 394px) {
    height: 510px;
  }

  @media (min-width: 768px) {
    background-size: contain;
    min-width: 768px;
    height: 405px;
  }

  @media (min-width: 1280px) {
    max-width: 1688px;
    // height: 878px;
    height: 782px;
  }
}

.hero__container {
  @media (max-width: 1279px) {
    padding-right: 20px;
    padding-left: 20px;
  }
  @media (min-width: 1280px) {
    // padding-right: 20px;
    padding-left: 20px;
  }
}

.hero__flex-box {
  @media (min-width: 768px) {
    display: flex;
    align-items: center;
    margin-top: 10px;
  }
}

.hero__title {
  font-weight: 800;
  font-size: 20px;
  line-height: 1.35;
  letter-spacing: 0.03em;

  color: $black;

  margin-bottom: 30px;

  @media (min-width: 768px) {
    font-size: 26px;
    line-height: 1.3;
    margin-top: 0px;
  }
  @media (min-width: 1280px) {
    font-size: 58px;
    line-height: 1.3;
    margin-bottom: 24px;
    max-width: 642px;
  }
}

.hero__text {
  @media (max-width: 1279px) {
    display: flex;
    flex-direction: column;
  }

  font-size: 14px;
  line-height: 1.6;
  letter-spacing: 0.08em;
  margin-bottom: 30px;

  @media (min-width: 1280px) {
    font-size: 20px;
    margin-bottom: 40px;
  }
}
.hero__text-rgey {
  color: $light-grey;
  font-weight: 500;
}
.hero__text-dark {
  font-weight: 700;
  color: $black;
}
.hero__text-accent {
  font-weight: 700;
  color: $accent;
}

.hero__button {
  background: $accent;
  border: none;
  display: block;
  margin: 0 auto;
  min-width: 260px;
  height: 48px;
  margin-bottom: 30px;

  @media (min-width: 768px) {
    margin-left: 0;
  }

  @media (min-width: 1280px) {
    width: 354px;
    height: 70px;
  }
}

.hero__button-text {
  display: inline-block;
  font-weight: 700;
  font-size: 12px;
  line-height: 1.25;

  padding-top: 14px;
  padding-bottom: 14px;
  letter-spacing: 0.08em;
  text-transform: uppercase;

  color: $white;

  @media (min-width: 768px) {
    font-size: 12px;
  }
  @media (min-width: 1280px) {
    font-size: 14px;
    line-height: 1.2;
    letter-spacing: 0.14em;
  }
}

.hero__img {
  margin: 0 auto;
  width: 208px;
  height: 177.5px;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  background-image: url('../images/hero/hero-mob/hero-mob-Ellipse2.png'),
    url('../images/hero/hero-mob/hero-mob-Ellipse1.png');

  @media (min-device-pixel-ratio: 2),
    (-webkit-min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    background-image: url('../images/hero/hero-mob/hero-mob-Ellipse2@2x.png'),
      url('../images/hero/hero-mob/hero-mob-Ellipse1@2x.png');
  }

  @media (min-width: 768px) {
    background-image: url('../images/hero/hero-tab/hero-tab-Ellipse2.png'),
      url('../images/hero/hero-tab/hero-tab-Ellipse1.png');
    min-width: 375px;
    height: 320px;

    @media (min-device-pixel-ratio: 2),
      (-webkit-min-device-pixel-ratio: 2),
      (min-resolution: 192dpi),
      (min-resolution: 2dppx) {
      background-image: url('../images/hero/hero-tab/hero-tab-Ellipse2@2x.png'),
        url('../images/hero/hero-tab/hero-tab-Ellipse1@2x.png');
    }
  }

  @media (min-width: 1280px) {
    background-image: url('../images/hero/hero-des/hero-des-Ellipse2.png'),
      url('../images/hero/hero-des/hero-des-Ellipse1.png');
    min-width: 810px;
    max-width: 841px;
    // min-width: 600px;
    // width: 841px;
    // min-height: 718px;
    height: 718px;

    @media (min-device-pixel-ratio: 2),
      (-webkit-min-device-pixel-ratio: 2),
      (min-resolution: 192dpi),
      (min-resolution: 2dppx) {
      background-image: url('../images/hero/hero-des/hero-des-Ellipse2@2x.png'),
        url('../images/hero/hero-des/hero-des-Ellipse1@2x.png');
    }
  }
}
