.container-we-do {
  max-width: 320px;
  padding: 0 20px 0 20px;
  margin-left: auto;
  margin-right: auto;

  @media screen and (min-width: 768px) {
    max-width: 680px;
  }

  @media screen and (min-width: 1280px) {
    max-width: 1314px;
  }
}

.we-do-section {
  padding: 50px 0 50px 0;
  @media screen and (min-width: 1280px) {
    padding: 130px 0 130px 0;
  }
}
.we-do-section__title {
  margin-bottom: 30px;
  font-size: 20px;
  font-weight: 800;
  line-height: 1.3;
  letter-spacing: 0.03em;
  text-align: center;
  color: rgb(17, 21, 24);

  @media screen and (min-width: 1280px) {
    margin-bottom: 50px;
    font-size: 46px;
    text-align: left;
  }
}

.we-do-list {
  @media screen and (min-width: 768px) {
    font-size: 26px;
    display: flex;
    flex-wrap: wrap;
    margin-top: -27px;
    margin-left: -20px;
  }
  @media screen and (min-width: 1280px) {
    margin-top: -20px;
  }
}

.we-do-list__item {
  padding: 30px 6px 25px 6px;
  box-shadow: 0px 8px 26px rgba(0, 0, 0, 0.1);
  background-color: rgb(255, 255, 255);
  text-align: center;
  &:hover,
  &:focus {
    background-color: rgb(255, 107, 9);
  }
  transition: color 2500ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:not(:first-of-type) {
    @media screen and (max-width: 767px) {
      margin-top: 30px;
    }
  }

  @media screen and (max-width: 767px) {
    min-height: 280px;
  }

  @media screen and (min-width: 768px) {
    padding: 40px 20px 30px 20px;
    min-height: 334px;
    margin-top: 27px;
    margin-left: 20px;
    flex-basis: calc(100% / 2 - 20px);
  }

  @media screen and (min-width: 1280px) {
    margin-top: 20px;
    padding: 40px 30px 55px 30px;
    min-height: 396px;
    flex-basis: calc(100% / 3 - 20px);
  }
}

.we-do-list__item:focus,
.we-do-list__item:hover {
  .we-do-list__title,
  .we-do-list__text,
  .we-do-list__text,
  .we-do-list__icon {
    color: rgb(255, 255, 255);
  }
  .we-do-list__title::after {
    background-color: rgb(255, 255, 255);
  }
}

.we-do-list__title {
  margin-top: 20px;
  font-size: 14px;
  font-weight: 700;
  line-height: 1.43;
  letter-spacing: 0.08em;
  color: rgb(17, 21, 24);

  @media screen and (min-width: 1280px) {
    font-size: 20px;
    line-height: 1.4;
  }
}

.we-do-list__title::after {
  margin: 20px auto 0 auto;
  display: block;
  content: '';
  background-color: rgb(255, 107, 9);
  width: 20px;
  height: 2px;
}

.we-do-list__text {
  margin-top: 20px;
  font-size: 12px;
  font-weight: 500;
  line-height: 1.67;
  letter-spacing: 0.08em;
  color: rgb(185, 185, 185);

  @media screen and (min-width: 1280px) {
    font-size: 18px;
    line-height: 1.6;
  }
}

.we-do-list__icon {
  color: rgb(255, 107, 9);
}
