.container- {
  max-width: 320px;
  padding: 0 20px 0 20px;
  margin-left: auto;
  margin-right: auto;
}

.we-do-section {
  padding: 50px 0 50px 0;
}
.we-do-section__title {
  font-size: 20px;
  font-weight: 800;
  line-height: 1.3;
  letter-spacing: 0.03em;
  text-align: center;
  color: rgb(17, 21, 24);
}
.we-do-list__item {
  margin-top: 30px;
  padding: 30px 6px 25px 6px;
  box-shadow: 0px 8px 26px rgba(0, 0, 0, 0.1);
  background-color: rgb(255, 255, 255);
  text-align: center;
  &:hover,
  &:focus {
    background-color: rgb(255, 107, 9);
  }
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.we-do-list__item:focus,
.we-do-list__item:hover {
  .we-do-list__title,
  .we-do-list__text,
  .we-do-list__text,
  .we-do-list__icon {
    color: rgb(255, 255, 255);
    fill: rgb(255, 255, 255);
  }
  .we-do-list__title::after {
    background-color: rgb(255, 255, 255);
  }
}

.we-do-list__title {
  margin-top: 20px;
  font-size: 14px;
  font-weight: 700;
  line-height: 1.43;
  letter-spacing: 0.08em;
  color: rgb(17, 21, 24);
}

.we-do-list__title::after {
  margin: 20px auto 0 auto;
  display: block;
  content: '';
  background-color: rgb(255, 107, 9);
  width: 20px;
  height: 2px;
}

.we-do-list__text {
  margin-top: 20px;
  font-size: 12px;
  font-weight: 500;
  line-height: 1.67;
  letter-spacing: 0.08em;
  color: rgb(185, 185, 185);
}
