body {
  font-family: Montserrat, sans-serif;
}

.section-program {
  font-family: inherit;

  margin: 0;
  padding: 50px 0px 440px 0px;

  text-align: center;
  flex-direction: column;
  position: relative;
  justify-content: center;
  display: flex;
  align-items: center;

  background-color: $black;
  color: $white;
  background-image: url(../images/program.img/program.m1.png);
  background-repeat: no-repeat;
  background-position: right 1332px;

  @media screen and (min-width: 768px) {
    padding-top: 60px 0px 253px 0px;
    max-width: 1199px;
    background-image: url(../images/program.img/program.t1.png);
    background-repeat: no-repeat;
    background-position: right 815px;
  }

  &__title {
    margin: 0px 0px 43px;

    font-weight: 800;
    font-size: 20px;
    line-height: 1.3;
    letter-spacing: 0.03em;

    @media screen and (min-width: 768px) {
      margin: 0px auto 40px 52px;
    }
  }
}

.program-container {
  display: flex;
  position: relative;
}

.program-border {
  @media screen and (min-width: 300px) {
    border-left: 1px solid $white;
    height: 1146px;
    position: absolute;
    top: 15px;
    max-width: 480px;
    left: -1px;
  }

  @media screen and (min-width: 768px) {
    border-left: 1px solid $white;
    height: 681px;
    position: absolute;
    top: 14px;
    max-width: 1199px;
    left: 1px;
  }
}

.program-list {
  padding: 0;
  list-style-type: none;
  text-align: left;

  @media screen and (min-width: 300px) {
    max-width: 480px;
    margin: 0px 0px 0px 26px;
  }

  @media screen and (min-width: 768px) {
    max-width: 1199px;
    margin: 0px 0px 0px 50px;
  }
}

.program-list__title {
  position: relative;
  text-transform: uppercase;
  font-family: inherit;
  letter-spacing: 0.08em;
  font-weight: 700;

  &::before {
    content: '';
    position: absolute;
    bottom: 8px;
    left: -33px;
    width: 12px;
    height: 12px;
    border-radius: 50%;
    background-color: $accent;

    @media screen and (min-width: 768px) {
      max-width: 1199px;
      bottom: 8px;
      left: -55px;
    }
  }

  @media screen and (min-width: 300px) {
    max-width: 480px;
    margin: 0px 0px 5px;

    font-size: 14px;
    line-height: 2;
  }

  &__item {
    justify-content: center;
    display: flex;
  }
}

.semester-list {
  @media screen and (min-width: 300px) {
    max-width: 480px;
    padding: 0;

    list-style-type: none;
    margin-bottom: 40px;
  }

  @media screen and (min-width: 768px) {
    max-width: 1199px;
    display: flex;
    margin-bottom: 30px;
  }

  &__title {
    margin: 5px 0px;

    font-weight: 700;
    font-size: 12px;
    line-height: 1.66;
    letter-spacing: 0.08em;
    color: $accent;

    &::before {
      content: '—';
      display: inline-block;
      width: 20px;
      height: 2px;
      color: currentColor;
    }
  }

  &__subtitle {
    margin: 8px 0px 5px;

    font-weight: 700;
    font-size: 12px;
    line-height: 1.66;
    letter-spacing: 0.08em;
    color: $accent;

    &::before {
      content: '—';
      display: inline-block;
      width: 20px;
      height: 2px;
      color: currentColor;
    }
  }
}

.list-curriculum {
  padding: 0;
  list-style-type: none;
  display: inline-block;

  &__item {
    font-weight: 500;
    font-size: 12px;
    line-height: 1.66;
    color: $light-grey;
  }
}

.semester-list__one:not(:last-child) {
  @media screen and (min-width: 768px) {
    margin-right: 84px;
    max-width: 1199px;
  }
}

.semester-list__two:not(:last-child) {
  @media screen and (min-width: 768px) {
    margin-right: 119px;
    max-width: 1199px;
  }
}

.semester-list__three:first-child {
  @media screen and (min-width: 768px) {
    margin-right: 119px;
    max-width: 1199px;
  }
}

.semester-list__three:last-child {
  @media screen and (min-width: 768px) {
    margin-left: 64px;
    max-width: 1199px;
  }
}

.semester-list__four:first-child {
  @media screen and (min-width: 768px) {
    margin-right: 50px;
    max-width: 1199px;
  }
}

.semester-list__four:last-child {
  @media screen and (min-width: 768px) {
    margin-left: 50px;
    max-width: 1199px;
  }
}
