body {
  font-family: Montserrat, sans-serif;
}

.section-program {
  background-color: $black;
  color: $white;
  margin: 0;

  &__title {
    font-weight: 800;
    font-size: 20px;
    line-height: 1.3;
    letter-spacing: 0.03em;

    margin-bottom: 43px;
  }

  @media screen and (min-width: 320px) {
    max-width: 480px;
    text-align: center;
    padding: 50px 88px 56px;
  }
}

.program-container {
  margin-left: 30px;
  border-left: $white 1px solid;
}

.program-list {
  @media screen and (min-width: 320px) {
    counter-reset: section;
    list-style-type: none;
    margin-top: 0;
    padding: 0;
    position: relative;
  }
}

.program-list__title {
  text-transform: uppercase;
  font-family: inherit;
  letter-spacing: 0.08em;
  font-weight: 700;

  @media screen and (min-width: 320px) {
    // text-align: left;
    max-width: 480px;
    margin: 0px 0px 5px;

    font-size: 14px;
    line-height: 2;
  }

  &::before {
    counter-increment: section;
    content: counters(section, '. ');
    margin-right: 5px;
  }
}

.program-list__container {
  @media screen and (min-width: 320px) {
    text-align: left;
    margin-left: 26px;
  }
}

.semester-list {
  @media screen and (min-width: 320px) {
    padding: 0;
    list-style-type: none;
    margin-bottom: 40px;
  }
  &__title {
    margin: 5px 0px;
    // text-align: left;
    color: $accent;
    font-weight: 700;
    font-size: 12px;
    line-height: 1.66;
    letter-spacing: 0.08em;
  }

  &__subtitle {
    margin: 8px 0px 5px;
    // text-align: left;
    color: $accent;
    font-weight: 700;
    font-size: 12px;
    line-height: 1.66;
    letter-spacing: 0.08em;

    &::before {
      content: '--';
      display: inline-block;
      width: 20px;
      color: currentColor;
      height: 2px;
    }
  }

  &__title::before {
    content: '--';
    display: inline-block;
    width: 20px;
    color: currentColor;
    height: 2px;
  }
}

.list__curriculum {
  list-style-type: none;
  padding: 0;
  display: inline-block;
  // text-align: left;

  &__item {
    color: $light-grey;
    font-weight: 500;
    font-size: 12px;
    line-height: 1.66;
  }
}

// .program-container {
//   text-align: center;
// }
.section-program__img {
  // width: 176px;
  // height: 137px;
  opacity: 50%;
  position: absolute;
  right: 10px;
  bottom: 10%;
  // transform: translate(-50%, -50%);
}
