.section-program {
  font-family: inherit;

  margin: 0;
  padding: 50px 0px 440px 0px;

  text-align: center;
  flex-direction: column;
  position: relative;
  justify-content: center;
  display: flex;
  text-align: center;
  align-items: center;
  background-color: $black;
  color: $white;
  background-image: url(../images/program.img/program.m1.png);
  background-repeat: no-repeat;
  background-position: right 1332px;

  @media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
    background-image: url(../images/program.img/program.m2.png);
  }

  @media screen and (min-width: 768px) {
    padding: 60px 0px 392px 0px;
    background-image: url(../images/program.img/program.t1.png);
    background-repeat: no-repeat;
    background-position: right 803px;

    @media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
      background-image: url(../images/program.img/program.t2.png);
    }
  }

  @media screen and (min-width: 1280px) {
    padding: 120px 0px 363px;
    background-image: url(../images/program.img/program.d1.png);
    background-repeat: no-repeat;
    background-position: left 629px;
    background-size: 495px;

    @media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
      background-image: url(../images/program.img/program.d2.png);
    }
  }

  &__title {
    margin: 0 0 43px;
    font-weight: 800;
    font-size: 20px;
    line-height: 1.3;
    letter-spacing: 0.03em;

    @media screen and (min-width: 768px) {
      margin: 0px auto 52px 0px;
      text-align: left;
    }

    @media screen and (min-width: 1280px) {
      margin: 0px auto 160px 0px;
      text-align: left;

      font-size: 46px;
      line-height: 1.3;
    }
  }
}

.hr {
  @media screen and (min-width: 1280px) {
    color: $white;
    width: 100%;
    margin: 0px 0px 60px;
    position: absolute;
    top: 278px;
  }

  @media screen and (max-width: 1279px) {
    display: none;
  }
}

.program-container {
  display: flex;
  justify-content: center;

  @media screen and (min-width: 1280px) {
  }

  @media screen and (max-width: 1279px) {
    position: relative;
    margin-right: 0;
    margin-left: 0;
  }
}

.decktop-container {
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  max-width: 1344px;

  @media screen and (min-width: 768px) {
    margin-left: auto;
  }

  @media screen and (min-width: 1280px) {
    margin-left: 0;
    margin-right: 0;
  }
}

.program-border {
  @media screen and (min-width: 320px) {
    border-left: 1px solid $white;
    height: 1110px;
    position: absolute;
    top: 15px;
    max-width: 480px;
    left: 69px;
  }

  @media screen and (min-width: 768px) and (max-width: 1279px) {
    border-left: 1px solid $white;
    height: 680px;
    position: absolute;
    top: 14px;
    left: 0px;
  }

  @media screen and (min-width: 1280px) {
    display: none;
  }
}

.program-list {
  padding: 0;
  list-style-type: none;
  text-align: left;

  &__item:not(:last-child) {
    @media screen and (min-width: 1280px) {
      margin-right: 30px;
    }
  }

  @media screen and (min-width: 300px) {
    max-width: 480px;
    margin: 0px 0px 0px 26px;
  }

  @media screen and (min-width: 768px) {
    max-width: 1279px;
    margin: 0px 0px 0px 50px;
  }

  @media screen and (min-width: 1280px) {
    margin: 0;
    display: flex;
  }
}

.program-list__title {
  position: relative;
  text-transform: uppercase;
  font-family: inherit;
  letter-spacing: 0.08em;
  font-weight: 700;
  font-size: 14px;
  line-height: 2;

  &::before {
    content: '';
    position: absolute;
    bottom: 8px;
    left: -33px;
    width: 12px;
    height: 12px;
    border-radius: 50%;
    background-color: $accent;

    @media screen and (min-width: 768px) {
      max-width: 1199px;
      bottom: 8px;
      left: -55px;
    }

    @media screen and (min-width: 1280px) {
      bottom: 82px;
      left: -3px;
    }
  }

  @media screen and (min-width: 300px) {
    max-width: 480px;
    margin: 0px 0px 5px;
  }

  @media screen and (min-width: 1280px) {
    font-size: 20px;
    line-height: 1.4;
  }
}

.semester-list {
  @media screen and (min-width: 300px) {
    max-width: 480px;
    padding: 0;

    list-style-type: none;
    margin-bottom: 40px;
  }

  @media screen and (min-width: 768px) and (max-width: 1279px) {
    display: flex;
    margin-bottom: 30px;
  }

  &__title {
    margin: 5px 0px;

    font-weight: 700;
    font-size: 12px;
    line-height: 1.66;
    letter-spacing: 0.08em;
    color: $accent;

    &::before {
      content: '—';
      display: inline-block;
      color: currentColor;
      margin-right: 5px;
    }

    @media screen and (min-width: 1280px) {
      font-size: 20px;
      line-height: 1.64;
      margin: 25px 0px 10px;
    }
  }

  &__subtitle {
    margin: 8px 0px 5px;

    font-weight: 700;
    font-size: 12px;
    line-height: 1.66;
    letter-spacing: 0.08em;
    color: $accent;

    &::before {
      content: '—';
      display: inline-block;
      color: currentColor;
      margin-right: 5px;
    }

    @media screen and (min-width: 1280px) {
      font-size: 20px;
      line-height: 1.64;
      margin: 25px 0px 10px;
    }
  }
}

.list-curriculum {
  padding: 0;
  list-style-type: none;
  display: inline-block;

  &__item {
    font-weight: 500;
    font-size: 12px;
    line-height: 1.66;
    color: $light-grey;
  }
}

.semester-list__one:not(:last-child) {
  @media screen and (min-width: 768px) and (max-width: 1279px) {
    margin-right: 84px;
  }
}

.semester-list__two:not(:last-child) {
  @media screen and (min-width: 768px) and (max-width: 1279px) {
    margin-right: 119px;
  }
}

.semester-list__three:first-child {
  @media screen and (min-width: 768px) and (max-width: 1279px) {
    margin-right: 119px;
  }
}

.semester-list__three:last-child {
  @media screen and (min-width: 768px) and (max-width: 1279px) {
    margin-left: 64px;
  }
}

.semester-list__four:first-child {
  @media screen and (min-width: 768px) and (max-width: 1279px) {
    margin-right: 50px;
  }
}

.semester-list__four:last-child {
  @media screen and (min-width: 768px) and (max-width: 1279px) {
    margin-left: 50px;
  }
}
