* {
  margin: 0;
  padding: 0;
}

.section-reviews__container {
  width: 320px;
  padding: 50px 20px;
  margin: 0 auto;

  @media (min-width: 768px) {
    width: 768px;
    padding: 50px 40px;
  }

  @media (min-width: 1280px) {
    width: 1280px;
    padding: 130px 95px;
  }
}

.title {
  width: 280px;
  font-family: 'Monserrat', sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 20px;
  line-height: 130%;
  text-align: center;
  letter-spacing: 0.03em;
  color: #111518;
  margin-bottom: 20px;

  @media (min-width: 768px) {
    width: 688px;
    font-size: 26px;
  }

  @media (min-width: 1280px) {
    width: 688px;
    font-size: 46px;
    margin: 0 auto 50px;
  }
}

.slide-container {
  width: 280px;
  height: 564px;
  padding: 20px 20px 30px 20px;
  background: #ffffff;
  box-shadow: -5px 8px 26px rgba(0, 0, 0, 0.04);

  @media (min-width: 768px) {
    width: 688px;
    height: 313px;
    padding: 40px;
    position: relative;
  }

  @media (min-width: 1280px) {
    width: 1090px;
    padding: 50px 110px 50px 80px;
  }
}

.section-reviews__image {
  margin: 0 75px;

  @media (min-width: 768px) {
    width: 150px;
    height: 150px;
    margin: 0;
  }
}

.section-reviews__icon {
  margin: 26.51px 105px;

  @media (min-width: 768px) {
    margin: 26.51px 60px;
  }
}

.description-title {
  width: 225px;
  font-family: 'Montserrat', sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 14px;
  line-height: 17px;
  text-align: center;
  letter-spacing: 0.08em;
  color: #ff6b09;
  margin-left: 8px;
  margin-bottom: 10px;

  @media (min-width: 768px) {
    width: 356px;
    font-size: 20px;
    line-height: 24px;
    text-align: left;
    margin: 0;
  }

  @media (min-width: 1280px) {
    width: 700px;
    font-size: 30px;
    line-height: 37px;
    text-align: left;
  }
}

.description-info {
  width: 240px;
  font-family: 'Montserrat', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 15px;
  text-align: center;
  letter-spacing: 0.08em;
  color: #b9b9b9;
  margin-bottom: 10px;

  @media (min-width: 768px) {
    width: 412px;
    text-align: left;
    margin: 20px 0;
  }

  @media (min-width: 1280px) {
    width: 438px;
    text-align: left;
    margin: 10px 0;
  }
}

.description-comment {
  width: 240px;
  max-height: 257px;
  font-family: 'Montserrat', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 20px;
  text-align: center;

  @media (min-width: 768px) {
    width: 412px;
    text-align: left;
  }

  @media (min-width: 1280px) {
    width: 706px;
    text-align: left;
    margin-top: 10px;
  }
}

@media (min-width: 768px) {
  .description-article {
    position: absolute;
    top: 40px;
    left: 236px;
  }
}

@media (min-width: 1280px) {
  .description-article {
    position: absolute;
    top: 50px;
    left: 276px;
  }
}

.description-comment a {
  color: rgba(255, 107, 9, 1);
}

.controls-container {
  display: flex;
  width: 260px;
  justify-content: space-between;
  align-items: center;
  margin-top: 20px;
}

.mySlides {
  display: none;
}

.dot {
  cursor: pointer;
  width: 54px;
  height: 54px;
}

.active,
.dot:hover {
  border: solid 2px #ff6b09;
  border-radius: 50%;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}

@keyframes fade {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}

.img-tablet {
  display: none;

  @media (min-width: 768px) {
    display: flex;
  }
}

.controls-dots {
  display: flex;
  position: relative;
  margin: 20px 49px 0 49px;
  justify-content: space-between;
  width: 182px;

  @media (min-width: 768px) {
    width: 558px;
    margin: 30px 65px 0 65px;
  }

  @media (min-width: 1280px) {
    margin: 40px 266px 0 266px;
  }
}

.controls-container {
  position: absolute;
  width: 280px;
  top: 0;
  left: -49px;

  @media (min-width: 768px) {
    width: 714px;
    top: -256px;
    left: -83px;
  }

  @media (min-width: 1280px) {
    width: 1258px;
    left: -352px;
  }
}
