$accent: rgba(255, 107, 9, 1);
$black: rgba(17, 21, 24, 1);
$light-black: rgba(61, 61, 61, 1);

$white: rgba(255, 255, 255, 1);
$off-white: rgba(241, 241, 241, 1);

$light-grey: rgba(185, 185, 185, 1);

$blue: rgba(67, 110, 171, 1);
