/*
 * Главный файл стилей.
 * Все паршалы подключаются сюда.
 */

// Стили для файла с примером HTML-фрагмента
@import 'base/basic-styles';
@import 'base/container';
@import 'base/visually-hidden';
@import './variables';
@import './header';
@import './hero';
@import './advantages';
@import './problems';
@import './how-we-do';
@import './program';
@import './benefits';
@import './about';
@import './guarantee';
@import './reviews';
@import './contacts';
@import './footer';
@import './mobile-menu';
