<section class="benefits">
    <h2 class="benefits__title">Почему нас выбирают</h2>
    <ol class="benefits__list">
      <li class="benefits__text">Обучение в малых командах</li>
      <li class="benefits__text">Визуализированные конспекты</li>
      <li class="benefits__text">Каждое занятие имеет цель и конкретный результат</li>
      <li class="benefits__text">Ревльные результаты преподавателя</li>
      <li class="benefits__text">Прогамма курса соответствует требованиям МОН Украины</li>
      <li class="benefits__text">Набор команд по уровням знаний</li>
    </ol>
  </section>