<footer class="footer">
  <div class="container-footer">
    <a href="#" class="logo">
      Hell<span class="logo__icon"></span>EN
      <span class="logo__text--small"
        >Адский <span class="logo__text--orange">английский</span></span
      >
    </a>
    <div class="tel-container">
      <svg class="tel-container__icon">
        <use href="../src/images/symbol-defs.svg#icon-phone"></use>
      </svg>
      <a class="tel-container__link" href="tel:+380000000000">+38 (000) 000 00 00</a>
    </div>
    <span class="border-footer"></span>
    <img
      srcset="../src/images/footer/instagram.png 1x, ../src/images/footer/instagram@2.png 2x"
      src="../src/images/footer/instagram.png"
      class="instagram-icon"
      alt=""
      width="40"
      height="40"
    />
  </div>
  <div class="copyright">
    <div class="copyright__container">
      <p class="copyright__text">@ Все права защищены, 2019</p>
    </div>
  </div>
</footer>
