<header class="header__container">
  <button class="menu-toggle js-open-menu" aria-expanded="false" aria-controls="mobile-menu">
    <svg width="34" height="34">
      <use href="../src/images/symbol-defs.svg#icon-lines"></use>
    </svg>
  </button>
  <nav class="header__nav">
    <ul class="header__nav-list">
      <li class="header__nav-logo">
        <a href="index.html" class="header_nav-logo-link"
          >Hell
          <span class="header__nav-logo-icon"></span>
          <span>EN</span>
          <span class="header__nav-logo-sub header__nav-logo-sub--accent">адский</span>
          <span class="header__nav-logo-sub">английский</span>
        </a>
      </li>
      <li class="header__nav-item header__nav-item--first">
        <a href="#program">Программы обучения</a>
      </li>
      <li class="header__nav-item">
        <a href="#about">О нас</a>
      </li>
      <li class="header__nav-item">
        <a href="#benefits">Варианты обучения</a>
      </li>
      <li class="header__nav-item">
        <a href="#contacts">Контакты</a>
      </li>
    </ul>
  </nav>
  <button type="submit" class="header__nav-btn">
    <a href="#contacts">Консультация по телефону</a>
  </button>
</header>
