<section class="hero">
  <div class="hero__container container">
    <div class="hero__flex-box">
      <div class="hero__flex-left">
        <h1 class="hero__title">Комплексная подготовка к ВНО по английскому языку</h1>
        <div class="hero__text">
          <p class="hero__text-grey">Просто не будет.</p>
          <p class="hero__text-dark">Но ты гарантированно наберешь</p>
          <p class="hero__text-accent">+25 баллов</p>
        </div>
        <button class="hero__button">
          <a class="hero__button-text" href="#contacts">хочу на бесплатное занятие</a>
        </button>
      </div>

      <div class="hero__img"></div>
    </div>
  </div>
</section>
