<section class="hero">
  <div class="container">
    <h1 class="hero__title">Комплексная подготовка к ВНО по английскому языку</h1>
    <div class="hero__text">
      <p class="hero__text-grey">Просто не будет.</p>
      <p class="hero__text-dark">Но ты гарантировано наберешь</p>
      <p class="hero__text-accent">+25 баллов</p>
    </div>
    <button class="hero__button">
      <a class="hero__button-text" href="#">хочу на бесплатное занятие</a>
    </button>
    <div class="hero__img"></div>
  </div>
</section>
