<div class="menu-container js-menu-container" id="mobile-menu">
  <button class="menu-toggle js-close-menu">
    <svg width="34" height="34">
      <use href="../src/images/symbol-defs.svg#icon-cross"></use>
    </svg>
  </button>
  <nav class="header-menu__nav">
    <ul class="header-menu__nav-list">
      <li class="header-menu__nav-logo">
        <a href="index.html" class="header-menu_nav-logo-link"
          >Hell
          <span class="header-menu__nav-logo-icon"></span>
          <span>EN</span>
          <span class="header-menu__nav-logo-sub header-menu__nav-logo-sub--accent">адский</span>
          <span class="header-menu__nav-logo-sub">английский</span>
        </a>
      </li>
      <li class="header-menu__nav-item header-menu__nav-item--first">
        <a href="#program">Программы обучения</a>
      </li>
      <li class="header-menu__nav-item">
        <a href="#about">О нас</a>
      </li>
      <li class="header-menu__nav-item">
        <a href="#benefits">Варианты обучения</a>
      </li>
      <li class="header-menu__nav-item">
        <a href="#contacts">Контакты</a>
      </li>
    </ul>
  </nav>
  <button type="submit" class="header-menu__nav-btn">
    <a href="#contacts">Консультация по телефону</a>
  </button>
</div>
