<section class="section-program" id="program">
  <hr class="hr">
  <div class="decktop-container">
    <h2 class="section-program__title">Наша программа</h2>

    <div class="program-container container">

      <div class="program-border"></div>
      <ul class="program-list">

        <li class="program-list__item">
          <h3 class="program-list__title">1 семестр</h3>
          <ul class="semester-list">

            <li class="semester-list__one">
              <h4 class="semester-list__title">Grammar</h4>
              <ul class="list-curriculum">
                <li class="list-curriculum__item">Nouns & Articles</li>
                <li class="list-curriculum__item">Adjectives & Adverb</li>
              </ul>
            </li>

            <li class="semester-list__one">
              <h4 class="semester-list__subtitle">Vocabulary</h4>
              <ul class="list-curriculum">
                <li class="list-curriculum__item">Family & Relations</li>
                <li class="list-curriculum__item">People & Society</li>
              </ul>
            </li>
          </ul>

        </li>

        <li class="program-list__item">
          <h3 class="program-list__title">2 семестр</h3>
          <ul class="semester-list">

            <li class="semester-list__two">
              <h4 class="semester-list__title">Grammar</h4>
              <ul class="list-curriculum">
                <li class="list-curriculum__item">Pronouns</li>
                <li class="list-curriculum__item">Active Voice</li>
                <li class="list-curriculum__item">Passive Voice</li>
              </ul>
            </li>

            <li class="semester-list__two">
              <h4 class="semester-list__subtitle">Vocabulary</h4>
              <ul class="list-curriculum">
                <li class="list-curriculum__item">Home</li>
                <li class="list-curriculum__item">School</li>
                <li class="list-curriculum__item">Work</li>
              </ul>
            </li>
          </ul>

        </li>

        <li class="program-list__item">
          <h3 class="program-list__title">3 семестр</h3>
          <ul class="semester-list">

            <li class="semester-list__three">
              <h4 class="semester-list__title">Grammar</h4>
              <ul class="list-curriculum">
                <li class="list-curriculum__item">Modal verbs</li>
                <li class="list-curriculum__item">Infinitive</li>
                <li class="list-curriculum__item">Gerund</li>
                <li class="list-curriculum__item">Participle: 1, 2</li>
              </ul>

            </li>

            <li class="semester-list__three">
              <h4 class="semester-list__subtitle">Vocabulary</h4>
              <ul class="list-curriculum">
                <li class="list-curriculum__item">Travel & Tourism</li>
                <li class="list-curriculum__item">Culture & Free Time</li>
                <li class="list-curriculum__item">Sport</li>
              </ul>
            </li>

            <li class="semester-list__three">
              <h4 class="semester-list__subtitle">Writing</h4>
              <ul class="list-curriculum">
                <li class="list-curriculum__item">Informal Letter</li>
              </ul>
            </li>

          </ul>

        </li>

        <li class="program-list__item">
          <h3 class="program-list__title">4 семестр</h3>
          <ul class="semester-list">

            <li class="semester-list__four">
              <h4 class="semester-list__title">Grammar</h4>
              <ul class="list-curriculum">
                <li class="list-curriculum__item">Clauses: Conditional and <br>Wishes</li>
                <li class="list-curriculum__item">Direct / Reported speech</li>
                <li class="list-curriculum__item">Preposition</li>
                <li class="list-curriculum__item">Conjunction</li>
                <li class="list-curriculum__item">Numeral</li>
              </ul>
            </li>

            <li class="semester-list__four">
              <h4 class="semester-list__subtitle">Vocabulary</h4>
              <ul class="list-curriculum">
                <li class="list-curriculum__item">Healthy Living</li>
                <li class="list-curriculum__item">Nature & Environment</li>
                <li class="list-curriculum__item">Money</li>
              </ul>
            </li>

            <li class="semester-list__four">
              <h4 class="semester-list__subtitle">Writing</h4>
              <ul class="list-curriculum">
                <li class="list-curriculum__item">Informal Letter</li>
              </ul>

            </li>
          </ul>
        </li>


        <li class="program-list__item">

          <h3 class="program-list__title">5 семестр</h3>
          <ul class="semester-list">

            <li class="semester-list__five">
              <h4 class="semester-list__title"> </h4>
              <ul class="list-curriculum">
                <li class="list-curriculum__item">Revision</li>
                <li class="list-curriculum__item">Tests</li>
              </ul>
            </li>
          </ul>

        </li>
      </ul>

    </div>
  </div>
</section>
