<section class="section-reviews">
    <div class="section-reviews__container">
        <h2 class="title section-reviews__title">Отзывы выпускников</h2>

        <div class="slide-container mySlides fade">
            <img srcset="src/images/reviews/img11x1.png 1x, src/images/reviews/img11x2.png 2x"
                src="src/images/reviews/img11x2.png" class="section-reviews__image" alt="" width="90" height="90">
            <a href="" class="section-reviews__link">
                <svg class="section-reviews__icon" width="30" height="16.98">
                    <use href="src/images/symbol-defs.svg#icon-instagram">
                    </use>
                </svg>
            </a>
        </div>
    </div>
</section>